/* 
    Document   : mainStyles
    Created on : Dec 6, 2013, 8:59:37 PM
    Author     : alberto
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
.tiny{
    text-align: right;
    font-size: 7px;
    color:gray;   
    float:right;
}

#chat{
    width:100%;    
    float:left;    
    position:relative;
    height: 35%;
}
#textPanel{
    height:35%;
    display:block;    
}
#chatLog{
    height:35%;
    overflow-x: hidden;
    overflow-y: scroll;
    display:block;
}
#filePanel{
    height: 200px;    
    width: 400px; 
    padding: 0.5em; float: left; margin: 10px 10px 10px 0; 
}

#preview { width: 200px; height: 200px; padding: 0.5em; float: left; margin: 10px; }
#info{
    width:38%;
    height: 600px;
    display:block;
    float:left;

}
#files{
    width:400px;
    height: 350px;
    display:block;
    float:left;

}
#leftPanel,#rightPanel{
    float:left;
    display:inline-block;
}
#chatContent{
    text-align: left;    
    float:left;    
    height: 60%;
    width: 60%;
    margin-left: 2%;        
}
#form{
    width: 30;
    text-align: left;
    margin:10% 35% 10% 35%;    
} 
body{
    background-color: gainsboro;    
}
content{
    color:black;
    font-size: x-small;
}
#successBanner{
    position: fixed;
}
.username{
    color: cadetblue;
    font-weight: bold;
}
.chatBlock{
    display:block;
}